/* Mobile First */

* {
  box-sizing: border-box;
}

.title {
  background-color: #294969;
  color: red;
  padding: 10px 15px;
  border: 12px solid #ffa949;
  border-bottom-color: #cf7919;
}

.puppy {
  border: 10px solid darkgray;
  border-bottom-color: darkslategray;
  width: 90%;
  height: auto;
  margin: 10px;
}

.google_link {
  font-size: large;
  border: 7px solid mediumvioletred;
  border-bottom-color: darkmagenta;
  padding: 5px;
  margin: 15px;
}

.img {
  margin: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: red;
}

a {
  color: black;
  text-decoration: none;
  background: white;
  margin: 10px;
}
a:hover {
  color: white;
  background-color: black;
}

ol {
  background: purple;
  color: white;
}

/* Tablet Second*/
@media screen and (min-width: 600px) {
  body {
    background-color: green;
  }

  .puppy {
    width: 500px;
    height: auto;
  }
}

/* Desktop Last*/
@media screen and (min-width: 1100px) {
  body {
    background-color: pink;
  }

  .puppy {
    width: 600px;
    height: auto;
  }
}
